@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  @apply min-h-screen;
}

.container {
  @apply mx-auto max-w-[1120px];
}

*:has(> .container) {
  @apply px-4;
}

.flex-center {
  @apply flex items-center justify-center text-center;
}

.btn {
  @apply flex-center rounded-lg px-14 py-4;
}

.btn-outline-white {
  @apply btn border text-white;
}

.btn-outline-secondary {
  @apply btn border border-secondary text-secondary;
}

.btn-outline-primary {
  @apply btn border border-primary text-dark;
}

.btn-secondary {
  @apply btn bg-secondary text-white;
}

button:disabled {
  @apply cursor-not-allowed border border-light bg-background-dark text-light;
}

.line-bottom {
  @apply border-b-[1px] border-solid border-y-background-dark;
}

.line-bottom-primary-light {
  @apply border-b-[1px] border-solid border-y-primary/50;
}

.line-top {
  @apply border-t-[1px] border-solid border-t-background-light;
}

#bread-crumb {
  li:last-child {
    @apply pointer-events-none text-dark;
  }
}
